.mail-container(style='background-color: #fff;')
  .mail-content(style='max-width: 490px; margin: auto; padding: 30px 0; font-family: OpenSans, Calibri, Verdana; font-size: 16px; font-weight: 300; letter-spacing: 0.8px;')
    include ../partials/header

    .content-body(style='background-color: #fff; padding: 44px; border-left: solid 1px #ececee; border-right: solid 1px #ececee; border-bottom: solid 1px #ececee;')
      block emailContent

    include ../partials/footer
