.footer(style='background-color: #f9f9fb; padding: 25px 44px; color: #888; text-align: center; border-left: solid 1px #ececee; border-right: solid 1px #ececee; border-bottom: solid 1px #ececee;')
  span Copyright © 2017 Fondeo Directo

  p
    a(href='http://fondeodirecto.com/aviso-de-privacidad/' target='_blank' style='color: #5a52ff;') Aviso de privacidad

  a(href='http://www.fondeodirecto.com/' target='_blank' style='color: #5a52ff;') www.fondeodirecto.com

  p
    span Somos una empresa de 
    a Agave Lab
