.header(style='background-color: #414c7f; text-align: center; border-bottom: 5px solid #5a52ff; color: #fff; line-height: 0;')
  img(src=`${apiBaseUrl}/public/images/mail/bg-mail.jpg` alt='Fondeo Directo')
